$content-width: 800px;
$main: #FFF;
$background: #FFF;
// $font-style: 'Open Sans', sans-serif;
$font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color: #000;
$link-color: #000;
$link-hover-color: #f58ea8;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #000;
$light: #FFF;
$header:  #FFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
